
body
{
    font-family: 'Roboto', sans-serif;
}


.links_style    /* concerne les 2 liens du header */
{  
    list-style-type: none;                  /* pour enlever le point devant les liens */
    display: flex;                          /* pour être sur la même ligne */
    
}

ul a
{
    text-decoration: none;                  /* pour enlever le souligné */
    padding-left:20px;                      /* pour avoir un espace entre les liens */
}    

header
{
    display: flex;                          /* pour être sur la même ligne */
	justify-content: space-between;         /* pour écarter les 2 div */
    align-items:center;                     
}

#sec_pict
{
    display: flex;     
    flex-direction:column;
    justify-content: center;
    align-items:center;
    background-image:url(backgroung_image.jpg);
    height: 760px;   
    font-size:2.5em;  color:white;   
}

#div_petit_logo
{
    justify-content: center;
    align-items:center;   
}

#div_text
{
    margin:0px;
    padding:0px;     
}

#company_logo_pict /*réduction du logo */
{
    height:85%;
    width:85%;
}

#art_description
{
    text-align: center;   
    width:750px;
   /* border:solid blue; utile pour mes tests*/
    margin-left:500px;
}    

#div_com
{
    /*border: solid green; utile pour mes tests */
    margin-left:595px;
    width:590px;
    text-align:center;   
    padding: 0px;
    margin-top:50px;
}

#div_sign
{
   /* border: solid green; utile pour mes tests */
    margin-left:595px;
    width:590px;
    text-align:center;   
    padding: 0px;
    margin-top:0px;
}

#div_graph
{
    /*border:solid red; utile pour mes tests */
    width:250px;
    text-align:center;   
    margin-right:10px;
    margin-top:10px;
}

#div_strat
{
    /*border:solid rgba(34, 204, 111, 0.589);utile pour mes tests */
    width:250px;
    text-align:center;   
    margin-left:10px;
    margin-top:10px;
}

#div_illus
{
    /*border:solid rgba(21, 166, 233, 0.589);utile pou mes tests*/
    width:250px;
    text-align:center;   
    margin-top:10px;
}

#art_triple
{
    display:flex;
    justify-content: center;
}

#sec_bottom
{
    text-align:center;   
    margin-top: 25px;  
}

#foot_div_logo
{
    border:solid blue;
    height:150px;
}

#foot_div_triple
{
    display:flex;
    justify-content: space-around;
    align-self: center;
}